_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/bundle/

_posts/2025-04-01-building-a-kubernetes-homelab.md

llm-prompt.markdown

_posts/2025-11-28-my-laptop.md

_posts/2026-05-20-my-homelab.md
_posts/20-05-26-my-homelab.md
_posts/10-05-26-an-open-letter-to-the-tech-bros.md
_posts/10-05-26-an-open-letter-to-the-tech-bros.md
